<form class="max-w-xl mx-auto space-y-6 p-8" [formGroup]="form">
  <h1 class="font-bold text-3xl mb-8">Change Password</h1>
  <div class="" *ngIf="wrongPass">
    <p class="w-full p-4 rounded-lg bg-red-200 text-red-600 text-sm font-semibold border-2 border-red-300">Password Does Not Match!</p>
  </div>
  <div class="space-y-1">
    <label for="newPassword" class="block text-sm font-medium text-neutral-600">
      New Password
    </label>
    <div class="mt-1">
      <input id="newPassword" name="newPassword" type="password" placeholder="Your New Password"
             formControlName="newPassword"
             class="
                          block
                          w-full
                          px-5
                          py-3
                          text-base
                          placeholder-gray-300
                          transition
                          duration-500
                          ease-in-out
                          transform
                          border border-transparent
                          rounded-lg
                          bg-gray-50
                          focus:outline-none
                          focus:border-transparent
                          focus:ring-2
                          focus:ring-white
                          focus:ring-offset-2
                          focus:ring-offset-gray-300

">
    </div>
  </div>

  <div class="space-y-1">
    <label for="confirmPassword" class="block text-sm font-medium text-neutral-600">
      Confirm Password
    </label>
    <div class="mt-1">
      <input id="confirmPassword" name="confirmPassword" type="password" placeholder="Confirm New Password"
             formControlName="confirmPassword"
             class="
                          block
                          w-full
                          px-5
                          py-3
                          text-base
                          placeholder-gray-300
                          transition
                          duration-500
                          ease-in-out
                          transform
                          border border-transparent
                          rounded-lg
                          bg-gray-50
                          focus:outline-none
                          focus:border-transparent
                          focus:ring-2
                          focus:ring-white
                          focus:ring-offset-2
                          focus:ring-offset-gray-300

">
    </div>
  </div>



  <div>
    <button
      (click)="changePassword()"
      class="
                        flex
                        items-center
                        justify-center
                        w-full
                        px-10
                        py-4
                        text-base
                        font-medium
                        text-center text-white
                        transition
                        duration-500
                        ease-in-out
                        transform
                        bg-blue-600
                        rounded-xl
                        hover:bg-blue-700
                        focus:outline-none
                        focus:ring-2
                        focus:ring-offset-2
                        focus:ring-blue-500
                        disabled:bg-blue-400
                      "> Save Changes </button>
  </div>
</form>
