<div class="flex justify-between">

  <!-- SIDE NAV -->
  <div class="w-1/4 min-h-screen bg-white">
    <a
      [routerLink]="['/profile']"
      class="cursor-pointer m-4 flex items-center space-x-4 text-sm rounded-md focus:outline-none hover:bg-gray-100 p-4 transition" id="user-menu-button" aria-expanded="false" aria-haspopup="true">

      <img class="h-8 w-8 rounded-full" [src]="profilePic" alt="">
      <p class="font-bold">{{fullName}}</p>
    </a>

    <!-- FOLLOWERS -->
    <div class="m-4 p-4">
      <h1 class="text-2xl mb-4 font-bold">
        Followers
      </h1>
      <app-followers-list></app-followers-list>
      </div>
    </div>






  <!-- POST LIST -->
  <div class="w-2/4 min-h-screen">
    <app-create-post></app-create-post>
    <div *ngIf="isLoading" class="flex w-full justify-center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <app-user-posts [userPosts]="allPosts"></app-user-posts>

  </div>

  <!-- IDK -->
  <div class="w-1/4 min-h-screen bg-white">
    <!-- Liked Posts -->
    <div class="m-4 p-4">
      <h1 class="text-2xl mb-4 font-bold">
        Liked Posts
      </h1>
      <div class="flex flex-col space-y-4">
        <app-mini-post></app-mini-post>
        <app-mini-post></app-mini-post>
        <app-mini-post></app-mini-post>
        <div class="mt-4">
          <a
            class="cursor-pointer rounded-md focus:outline-none hover:bg-blue-100 hover:text-blue-700 px-6 py-2 transition font-bold " >

            Show All
          </a>
        </div>
      </div>
    </div>

  </div>

</div>
